<div *ngIf="selectedItems.length > 0" class="action-bar">
  <div class="action-buttons">
    <div class="action-count">
      <span>{{ selectedItems.length }}</span> <span>Đã chọn</span>
    </div>
    <button *ngIf="visibleButtons.showSubmit" (click)="submitForApproval()">
      <img src="../../assets/share.png" alt="" /><span>Gửi duyệt</span>
    </button>
    <button *ngIf="visibleButtons.showApprove" (click)="approveItems()">
      <img src="../../assets/check.png" alt="" /><span>Phê duyệt</span>
    </button>
    <button *ngIf="visibleButtons.showDisable" (click)="deactivateItems()">
      <img src="../../assets/x-mark.png" alt="" /><span>Ngưng hiển thị</span>
    </button>
    <button *ngIf="visibleButtons.showReturn" (click)="returnItems()">
      <img src="../../assets/turn-back.png" alt="" /><span>Trả về</span>
    </button>
    <button
      class="delete-btn"
      *ngIf="visibleButtons.showDelete"
      (click)="checkAndOpenDeleteModal()"
    >
      <img src="../../assets/delete.png" alt="" /><span>Xóa câu hỏi</span>
    </button>

    <button (click)="closePopup()">
      <img src="../../assets/close.png" alt="" />
    </button>
  </div>
</div>
<div>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <input
            type="checkbox"
            (change)="toggleSelectAll($event)"
            [checked]="allSelected"
          />
          <th>Câu hỏi</th>
          <th>Phân nhóm</th>
          <th>Thời gian làm</th>
          <th>Tình trạng</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let item of pagedData"
          [ngClass]="{ 'selected-row': isSelected(item) }"
        >
          <td>
            <input
              type="checkbox"
              [checked]="isSelected(item)"
              (change)="toggleSelectItem(item)"
            />
          </td>
          <td>
            <p class="question">{{ item.question }}</p>
            <p class="details">
              {{ item.id }} | Loại câu hỏi: {{ item.type || "" }}
            </p>
          </td>
          <td>{{ item.description }}</td>
          <td>{{ item.duration }}</td>
          <td [ngClass]="getClassStatus(item.status)">{{ item.status }}</td>
          <td class="action-cell">
            <img
              src="../../assets/option.png"
              alt="Options"
              class="actions"
              (click)="toggleActionMenu(item.id)"
            />
            <div class="action-menu" *ngIf="activeActionMenuId === item.id">
              <ul>
                <li (click)="viewDetails(item.id)">
                  <img src="../../assets/view.png" alt="View" /> Xem chi tiết
                </li>
                <li (click)="editItem(item.id)">
                  <img src="../../assets/pencil.png" alt="Edit" /> Chỉnh sửa
                </li>
                <li (click)="submitForApprovalFromMenu(item)">
                  <img src="../../assets/share.png" alt="Submit" /> Gửi duyệt
                </li>
                <li (click)="approveFromMenu(item)">
                  <img src="../../assets/check.png" alt="Approve" /> Phê duyệt
                </li>
                <li (click)="deactivateFromMenu(item)">
                  <img src="../../assets/x-mark.png" alt="Deactivate" /> Ngừng
                  hiển thị
                </li>
                <li (click)="returnFromMenu(item)">
                  <img src="../../assets/turn-back.png" alt="Return" /> Trả về
                </li>
                <li (click)="deleteItem(item.id)">
                  <img src="../../assets/delete.png" alt="Delete" /> Xóa câu hỏi
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="notification" class="notification" [ngClass]="notification.type">
    <span *ngIf="notification.type === 'success'" class="icon">
      <img src="../../assets/check.png" alt="Success" />
    </span>
    <span *ngIf="notification.type === 'error'" class="icon">
      <img src="../../assets/x-mark.png" alt="Error" />
    </span>
    <span>{{ notification.message }}</span>
  </div>
  <!-- xác nhận xóa -->
  <div *ngIf="isDeleteModalVisible" class="modal-overlay">
    <div class="modal">
      <h3 class="modal-title">
        <i class="fa-solid fa-triangle-exclamation" style="color: #fd7676"></i>
        <span>XÓA CÂU HỎI</span>
      </h3>
      <span>Bạn chắc chắn muốn xóa các mục đã chọn?</span>
      <span class="content-text">
        Hệ thống của hàng Hachi Hachi có mặt từ năm nào?
      </span>
      <span class="warning-text">
        Đơn vị bị xóa sẽ <strong>KHÔNG</strong> thể khôi phục lại.
      </span>
      <div class="modal-actions">
        <button class="cancel-btn" (click)="closeDeleteModal()">
          KHÔNG XÓA
        </button>
        <button class="delete-btn" (click)="confirmDelete()">
          <i class="fa-regular fa-trash-can" style="color: #fff"></i>
          <span>XÓA</span>
        </button>
      </div>
    </div>
  </div>
  <!-- Form modal for details or edit -->
  <div *ngIf="isFormVisible" class="form-modal">
    <div class="form-container">
      <h3>
        <i
          class="fa-solid"
          [ngClass]="isEditMode ? 'fa-pencil' : 'fa-circle-info'"
          [style.color]="isEditMode ? '#1a6634' : '#1a6634'"
        ></i>
        {{ isEditMode ? "CHỈNH SỬA CÂU HỎI" : "CHI TIẾT CÂU HỎI" }}
      </h3>
      <form (ngSubmit)="isEditMode ? updateItem() : null">
        <div>
          <label for="question">Tên câu hỏi</label>
          <input
            id="question"
            type="text"
            [ngModel]="editableItem?.question"
            (ngModelChange)="editableItem.question = $event"
            name="question"
            disabled
          />
        </div>
        <div class="idcode-des">
          <div>
            <label for="idcode">Mã câu hỏi</label>
            <input
              id="idcode"
              type="text"
              [ngModel]="editableItem?.id"
              (ngModelChange)="editableItem.id = $event"
              name="idcode"
              disabled
            />
          </div>
          <div>
            <label for="description">Phân nhóm</label>
            <select
              id="description"
              [ngModel]="editableItem?.description"
              (ngModelChange)="editableItem.description = $event"
              name="description"
              [disabled]="!isEditMode"
            >
              <option value="Thương hiệu">Thương hiệu</option>
              <option value="Văn hóa công ty">Văn hóa công ty</option>
              <option value="Quy định nội bộ">Quy định nội bộ</option>
            </select>
          </div>
        </div>
        <div>
          <label for="type-question">Loại câu hỏi</label>
          <select
            id="type-question"
            [ngModel]="editableItem?.type"
            (ngModelChange)="editableItem.type = $event"
            name="type-question"
            [disabled]="!isEditMode"
          >
            <option value="Nhiều lựa chọn">Nhiều lựa chọn</option>
            <option value="Dạng câu một lựa chọn">Một lựa chọn</option>
            <option value="Câu hỏi yes/no">Câu hỏi yes/no</option>
          </select>
        </div>
        <div>
          <label for="point">Cách tính điểm</label>
          <select
            id="point"
            [ngModel]="editableItem?.point"
            (ngModelChange)="editableItem.point = $event"
            name="point"
            [disabled]="!isEditMode"
          >
            <option value="Đúng hết đáp án">Đúng hết đáp án</option>
            <option value="Từng đáp án đúng">Từng đáp án đúng</option>
            <option value="Trừ đáp án sai">Trừ đáp án sai</option>
          </select>
        </div>
        <div>
          <label for="duration">Thời gian làm</label>
          <input
            id="duration"
            type="text"
            [ngModel]="editableItem?.duration"
            (ngModelChange)="editableItem.duration = $event"
            name="duration"
            [disabled]="!isEditMode"
          />
        </div>
        <div>
          <label for="status">Trạng thái</label>
          <select
            id="status"
            [ngModel]="editableItem?.status"
            (ngModelChange)="editableItem.status = $event"
            name="status"
            [disabled]="!isEditMode"
          >
            <option value="Đang soạn thảo">Đang soạn thảo</option>
            <option value="Gửi duyệt">Gửi duyệt</option>
            <option value="Đã duyệt">Đã duyệt</option>
            <option value="Ngừng áp dụng">Ngừng áp dụng</option>
            <option value="Trả về">Trả về</option>
          </select>
        </div>
        <button type="button" (click)="closeDetailForm()">Đóng</button>
        <button *ngIf="isEditMode" type="submit" (click)="updateItem()">Cập nhật</button>
      </form>
    </div>
  </div>

  <app-footer 
  [rowsPerPage]="itemsPerPage"
  [rowCount]="filterData.length"
  [currentPage]="currentPage"
  (pageChange)="onPageChange($event)"
  (itemsPerPageChange)="onItemsPerPageChange($event)"
></app-footer>

</div>
