<div id="Header1">
    <div class="left-h">
      <div class="hyphen-line">------------</div>
      <span class="vertical-line">|</span>
      <div class="hyphen-line">------------</div>
      <span class="vertical-line">|</span>
      <div class="hyphen-line">------------</div>
      <span class="vertical-line">|</span>
      <div class="hyphen-line">------------</div>
      <span class="vertical-line">|</span>
      <div class="hyphen-line">------------</div>
      <span class="vertical-line">|</span>
      <a class="ns">NHÂN SỰ</a>
    </div>
    <div class="right-h">
      <div>
        <img src="assets/glass.png" alt="Search" />
      </div>
      <div class="notification">
        <a>15</a>
        <img src="assets/bell.png" alt="Notifications" />
      </div>
      <div class="user">
        <a></a>
        <img src="assets/avatar.png" alt="User" />
      </div>
    </div>
  </div>
  