<div class="container">
  <div class="left-side">
    <app-sidebar></app-sidebar>
  </div>
  <div class="right-side">
    <app-header1></app-header1>
    <app-filter-bar 
      [isDisabled]="isDisabled" 
      (onSearch)="handleSearch($event)" 
      (onReset)="handleReset()">
    </app-filter-bar>
    <app-product-list></app-product-list>
    <app-custom-pagination
      [rowsPerPage]="rowsPerPage"
      [rowCount]="rowCount"
      [currentPage]="currentPage"
      (onChangePage)="handleChangePage($event)"
      (onChangeRowsPerPage)="handleChangeRowsPerPage($event)">
    </app-custom-pagination>
  </div>
</div>
