@import "src/styles";

#Filterbar {
  display: flex;
  align-items: center;
  height: 34px;
  width: calc(100vw - 245px);
  margin: 0 auto;
  padding: 13px 0px;
  border-bottom: 1.5px solid #bdc2d2;
  gap: 50px;
  justify-content: space-between;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  transition: all 0.3s ease;
  font-family: $primary-font;
}

.overflowing {
  overflow-x: auto;
}

#Filterbar::-webkit-scrollbar {
  height: 4px;
}

#Filterbar::-webkit-scrollbar-thumb {
  background-color: #008000;
  border-radius: 2px;
}

#Filterbar::-webkit-scrollbar-track {
  background-color: #e0e0e0;
}

.left-t {
  display: flex;
  gap: 20px;
  align-items: center;
}

.left-t div {
  border-radius: 999px;
  height: 28px;
  padding: 0 10px;
  align-items: center;
  display: flex;
  background: #fff;
  box-shadow: rgba(29, 30, 31, 0.15) 0px 1px 5px;
  border: 2px solid transparent;
}

.left-t div a {
  color: #959db3;
  font-family: "Mulish", sans-serif;
  font-size: 13px;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
  margin-right: 10px;
}

.left-t div input[type="checkbox"] {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid #959db3;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

.left-t div input[type="checkbox"]:checked {
  background-color: #008000;
  border-color: #008000;
}

.left-t div input[type="checkbox"]:checked::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 4px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.left-t .selected-border {
  border: 2px solid #008000;
}

.right-t {
  display: flex;
  gap: 20px;
}

.right-t div {
  width: auto;
  padding: 0 10px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  height: 35px;
  box-shadow: rgba(29, 30, 31, 0.15) 0px 1px 5px;
  font-size: 13px;
  background: #fff;
}

.right-t div img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  filter: invert(54%) sepia(18%) saturate(369%) hue-rotate(180deg)
    brightness(90%) contrast(85%);
}

.right-t div:nth-of-type(1) img {
  margin-right: 0;
}

.right-t div:nth-of-type(2) a {
  color: #959db3;
}

.right-t div:nth-of-type(3) {
  background: #1a6634;
  color: #fff;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}

.right-t div:nth-of-type(3) img {
  filter: brightness(0) invert(1);
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}


.form-modal {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%); 
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: stretch; 
  z-index: 1000;
  transition: transform 0.3s ease;
  
  &.open {
    transform: translateX(0); 
  }
}

.form-container {
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  font-family: "Mulish", serif;
  font-size: 13px;
  width: 417px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto; 
}

.form-container h3 {
  color: #1a6634;
  border-bottom: 1px solid rgba(0, 0, 0, 0.304);
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 20px;

  i {
    margin: 0 10px;
  }
}

form div {
  margin-bottom: 15px;
}

form .idcode-des {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

form .idcode-des div input,
form .idcode-des div select {
  width: 130px;
}

form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #343A40;
}

form input,
form select {
  width: 100%;
  height: 36.67px;
  padding-left: 10px;
  border: 2px solid #ddd;
  border-radius: 2px;
  box-sizing: border-box;
  background-color: #fff; 
  color: #000; 
}

form input:focus,
form select:focus {
  border-color: #008000; 
}

form input[disabled],
form select[disabled],
button[disabled] {
  background-color: #e0e0e0; 
  color: #a0a0a0; 
  cursor: not-allowed;
  border: 1px solid #c0c0c0; 
}

form input[disabled]::placeholder {
  color: #c0c0c0; 
}

form button[disabled] {
  opacity: 0.7; 
}

form button {
  padding: 10px 25px;
  margin: 30px 20px 30px 0px;
  background: #1a6634;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 13px;
  font-family: "Mulish", serif;
  font-weight: 600;
}

form button[type="button"] {
  background: #fff;
  color: #1a6634;
  box-shadow: rgba(29, 30, 31, 0.15) 0px 1px 5px;
}

.form-container .selected {
  background-color: #fff;
}

.form-container .disabled {
  background-color: #e0e0e0; 
  color: #a0a0a0; 
  cursor: not-allowed;
  opacity: 0.5;
}

.error {
  color: red;
  font-size: 12px;
}

.form-container input:focus,
.form-container select:focus {
  border-color: #008000; 
}

.filter-input {
  display: flex;
  align-items: center;
  gap: 5px;
  
  label {
    font-weight: bold;
    color: #343A40;
  }
  
  input {
    height: 28px;
    padding: 0 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-size: 13px;
    
    &:focus {
      border-color: #008000;
      outline: none;
    }
    
    &::placeholder {
      color: #a0a0a0;
    }
  }
}
.notification {
  position: fixed;
  bottom: 20px;
  left: 50px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 13px;
  color: #fff;
  z-index: 1000;
  font-family: "Mulish", serif;
  display: flex;
  align-items: center;
  gap: 10px;
}
.notification.success {
  background-color: #008000;
}

.notification.error {
  background-color: #FD7676;
}
.icon img {
  width: 16px;
  height: 16px;
  filter: invert(1);
}